@import url('https://fonts.cdnfonts.com/css/minecraft-4');
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

:root {
  --bg-dark: #121212;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: white;
  font-family: 'Minecraft', sans-serif;
  cursor: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
}